body {
    background-image: url("C:\Users\Сергій\Pictures\Screenshots\t.png"); /* Замените на путь к вашему изображению */
    background-size: cover;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}
.container {
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для текста */
    padding: 20px;
    border-radius: 10px;
}
img {
    border-radius: 50%;
    width: 150px; /* Размер фото учителя */
    height: 150px; /* Размер фото учителя */
}