<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт учителя Биологии</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Сайт учителя Биологии</h1>
        <img src="C:\Users\Сергій\Pictures\Screenshots\r.png" alt="Фото учителя"> 
        <p>Имя: [Имя учителя]</p>
        <p>Опыт работы: [Опыт работы]</p>
        <p>Предметы: [Преподаваемые предметы]</p>
        <p>Описание: [Краткое описание о работе учителя]</p>
    </div>
</body>