{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профіль користувача</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <h1>Профіль користувача</h1>
        <p>Ім'я: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        
        <!-- Додайте іншу інформацію про користувача за потреби -->

        <!-- Додано кнопку "Назад" -->
        <div class="mt-3">
        
            <a href="{% url 'home' %}" class="btn btn-secondary">Назад</a>
        </div>
        <div class="mt-3">
            <a href="{% url 'projects_list' %}" class="btn btn-primary">Список проектів</a>
            <form method="post" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Вийти з профілю</button>
            </form>
            <a href="{% url 'home' %}" class="btn btn-secondary">Назад</a>
        </div>
    </div>
</body>
</html>