{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Додати проект</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Додати проект</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Додати проект</button>
        </form>
        
        <!-- Додано кнопку "Назад" -->
        <div class="mt-3">
            <a href="{% url 'projects_list' %}" class="btn btn-secondary">Назад</a>
        </div>
    </div>
</body>
</html>